extends layout
block styles
  link(rel="stylesheet", href="/stylesheets/home.css")

block content
  .menuContainer
    h2.errorMessage#errorMessage #{errorMessage}
    h1.welcomeHeader= title
    p.gameDescription A drawing game just like telephone!
    button.startNewGame#startNewGame-btn(type='button', formmethod="GET", formaction="/lobby") Start New Game
    form.gameID-form(action="/lobby", method="POST")
      .form-control
        label(for="roomKey") Room Key:
        input(type="text", name="roomKey", formaction="/lobby")#roomKey
        button.submitID#submitButton(type="submit")
  script(type="text/javascript", src="/javascripts/mainScreen.js")