extends layout
block styles
  link(rel="stylesheet", href="/stylesheets/home.css")

block content
  .menuContainer
    h2.errorMessage(hidden=true) #{error}
    h1.welcomeHeader= title
    p.gameDescription A drawing game just like telephone!
    button.startNewGame#startNewGame-btn(type='button') Start New Game
    form.gameID-form(action="/", method="POST")
      .form-control
        label(for="title") Room Key:
        input(type="text", name="title", formaction="/join/lobby")#title
        button.submitID#submitButton(type="submit")
  script(type="text/javascript", src="/javascripts/mainScreen.js")