extends layout
block styles
  link(rel="stylesheet", href="/stylesheets/home.css")

block content
  .menuContainer
    h1= title
    p Testing the landing page
    button.startNewGame#startNewGame-btn(type='button') Start New Game
    form.gameID-form(action="/", method="POST")
      .form-control
        label(for="title") Room Key:
        input(type="text", name="title", formaction="/join/lobby")#title
        button.submitID#submitButton(type="submit")
  script(type="text/javascript", src="/javascripts/mainScreen.js")